#root {
  max-width: 1280px;
  margin: auto;
}

.navbar {
  background-color: var(--slate-700);
  border-radius: 1rem;
  margin-top: 2rem;
}

.navbar_list {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.navbar_item {
  color: var(--slate-200);
  margin: 0.5rem;
  font-size: 1rem;
}

.heart .icon {
  width: 2rem;
  height: 2rem;
  color: var(--rose-500);
}

.heart {
  position: relative;
}

.heart .badge {
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  right: -6px;
  display: inline-block;
  background-color: var(--rose-500);
  color: #fff;
  border-radius: 50%;
  padding: 1px 4px;
}

.input-search {
  font-size: 1rem;
  background-color: var(--slate-600);
  color: var(--slate-200);
}

.category_item {
  background-color: var(--slate-800);
  border-radius: 15px;
  margin-top: 1.5rem;
}

.category_item__list {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 4rem 1fr 2rem;
  grid-template-rows: 1fr 1fr;
  background-color: var(--slate-800);
  border-radius: 1rem;
  padding: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.category_item__list img {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}


.category_item__list h3 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.category_item__list .list-item__info {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
}

.category_item__list .icon {
  grid-column: 3/4;
  grid-row: 1/3;
  align-self: center;
}

.eye {
  color: red;
}

.name,
.info {
  color: var(--slate-200);
}




.character-box {
  background-color: var(--slate-800);
  margin-top: 2rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 50%;

}


.character-box_img img {
  border-radius: 1.5rem 0 0 1.5rem;
  grid-column: 3/3;
  grid-row: 3/3;

}

.character-box_details {
  /* background-color: blue; */
  grid-column: 2/3;
  grid-row: 1/3;
  margin-top: 0.5rem;
  padding-left: 1rem;

}

.status:nth-child(2) {
  margin-top: 0.5rem;
}

.status-location {
  margin-top: 1.5rem;
  color: var(--slate-500);
}

.status h4 {
  color: var(--slate-300);
}

.favorite {
  border: 2px solid var(--slate-500);
  background-color: var(--slate-500);
  padding: 0.8rem 1rem;
  border-radius: 1.5rem;
  margin-top: 1rem;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.epi-detail{
  padding: 0.5rem;
}


@media screen and (min-width:500px) and (max-width:973px) {

  #root {
    background-color: blueviolet;
  }

  .character-box_img img {
    width: 100%;
    border-radius: 1rem;
    margin: 0.5rem;
  }

  .list {
    flex-direction: column;
    align-items: baseline;
  }

  .character-box {
    width: 80%;
    margin: 0.5rem;
  }
  .list-of-epis{
    margin: 0.5rem;
    width: 80%;
  }

}

@media screen and (min-width:973px) {
  /* #root {
    background-color: #fff;
  } */
  .character-box{
    width: auto;
  }
}

.title-epi{
  color: var(--slate-400);
  padding: 1rem;
}
.arrow-icon{
  width: 1.5rem;
  cursor: pointer;
  outline: none;
  color: var(--slate-400);
}
.list-of-epis{
  background-color: var(--slate-800);
  margin-top: 2rem;
  border-radius: 1.5rem;
}
.list-of-epi{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:0.3rem;
}

.epi-detail span {
  color: #fff;
  padding: 0.1rem;

}
.badge-data{
  background-color: var(--slate-500);
  border-radius: 1rem;
  font-size: 0.9rem;
  color: #fff;
  padding: 0.2rem;
}

/* LOADER SPINNER  */
.loader {
    width: 20px;
    height: 20px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-top: 1rem;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

/* MEDIA QUERY */

@media screen and (max-width:500px) {
  #root {
    background-color: red;
  }

  .character-box_img img {
    width: 94%;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .character-box {
    /* grid-template-columns: 1fr 1.5fr; */
    width: 90%;
    justify-items: center;
    /* align-items: center; */
    margin: 0.5rem;
    display: block;
  }
  .character-box_details{
    padding-left:0rem;
  }
  .name ,.info{
    text-align: center;
  }

  .favorite {
    margin-bottom: 1rem;
  }
  .category-list{
    margin: auto;
  }
  .list-of-epis{
    margin: 0.5rem;
    width: auto;
  }
  .list-of-epi{
    flex-direction: column;
    padding: 0.5rem;
  }

}
